/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #131413;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navegação */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #333;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 130%;
}

nav ul li a:hover {
    background: #575757;
}

/* Conteúdo principal */
main {
    padding: 20px;
    text-align: center;
}

/* Botão */
button {
    padding: 10px 20px;
    background: #212221;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #141414;
}

/* Rodapé */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;  
    position: fixed;
    bottom: 0;
    width: 100%;
}
img{
    width:50%;
    height: auto;
}
#img_grafftex{
    width: 50%;
    text-align: center;
}
#baner{
    width:50%;
    height: auto;
}
#icone{
    width: 30px;
}
nav ul {
  display: flex;
  flex-wrap: wrap; /* permite que os itens quebrem para a linha de baixo */
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 5px;
}

nav a {
  text-decoration: none;
  padding: 8px 12px;
  background: rgb(5, 1, 49);
  border-radius: 4px;
}
footer a{
    color: wheat;
    text-decoration: none;
    
}
@media (max-width: 720px) {
 img{
    width:100%;
    height: auto;
}
#baner{
    width:100%;
    height: auto;
}
#img_grafftex{
    width: 100%;
    text-align: center;
}
}

